.style-section {
    margin-top: 0;

}

body {
    margin: 0;
}

header {
    background-image: url("data-images/header-countries.png");
    text-align: center;
    height: 10%;
    padding: 3% 33% 3% 33%;
    margin-top: 0;

}

h1 {
    margin: auto;
    font-size: 40px;
    background-color: #AE4C33;
    border-radius: 15px;
    font-family: 'Times New Roman', Times, serif;
    color: #F1DCB9;

}