

body {
    margin: 0;
    background-color: #FFFFF9;
    
}

header {
    background-image: url("data-images/header-countries.png");
    text-align: center;
    height: 10%;
    padding: 3% 18% 3% 18%;
    margin-top: 0;
    border: 1px solid #ccc;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    

}

h1 {
    margin: auto;
    font-size: 68px;
    border-radius: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #f2b132;
    text-shadow: 2px 2px 3px rgb(8, 8, 8);
    

}

.grid-container {
    grid-template-columns: auto auto auto;
    display: grid;
    margin: auto;
    padding: 10% 5% 10% 5%;
    
    
}

.box {
    border: 2px solid #575344;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    background-color: #FFFFF9;
    width: 260px;
    height: 170px;
    padding: 20px 20px 15px 20px;
    margin: auto;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 12px;
    color: #575344;
    align-items: center;
    justify-content: center;
    display: grid;
    margin-bottom: 30px;
    
 }

 img {
    width: 220px;
    height: 120px;
    
 }


@media (max-width:1100px) {
    .grid-container {
        grid-template-columns: auto auto auto;
        display: grid;
        margin: auto;
        padding: 20px;
    }
}

@media (min-width:1100px) {
    .grid-container {
        grid-template-columns: auto auto auto;
        display: grid;
        margin: auto;
        padding: 20px;

    }
}


 #popupDialog {

        border: 2px solid #575344;
        box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.1);
        border-radius: 15px;
        background-color: #FFFFF9;
        width: 300px;
        height: 500px;
        text-align: center;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 12px;
        color: #575344;
        align-items: center;
        justify-content: center;
       
        
        
       
}

/* #popupContainer {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100vh;
    width:100vw;
} */



 