body {
  margin: 0;
  background-color: #F8E9CA;
  
}



@media (min-width:1600px) {
  header {
    background-image: url("data-images/header-countries.png");
    text-align: center;
    height: 10%;
    padding: 3% 5% 3% 5%;
    margin-top: 0;
    border: 1px solid #ccc;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1);
    position: sticky;
    position: -webkit-sticky; /* Safari */
    top: -140px;
    z-index: 10
  
  }
  }
  
  @media (max-width:1600px) {
    header {
      background-image: url("data-images/header-countries.png");
      text-align: center;
      height: 10%;
      padding: 3% 5% 3% 5%;
      margin-top: 0;
      border: 1px solid #ccc;
      box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1);
      position: sticky;
      position: -webkit-sticky; /* Safari */
      top: -115px;
      z-index: 10
  }
  }


h1 {
  margin: auto;
  font-size: 68px;
  border-radius: 15px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #f2b132;
  text-shadow: 2px 2px 3px rgb(8, 8, 8);
  cursor: pointer;
  
}


h3 {
  margin: auto;
  font-size: 25px;
  border-radius: 15px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #d63f31;
  text-shadow: 2px 2px 3px rgb(8, 8, 8);
}


.grid-container {
  grid-template-columns: auto auto auto;
  display: grid;
  margin: auto;
  padding: 10% 5% 10% 5%;
  
  
}

@media (max-width:1100px) {
  .box {
      border: 1px solid #575344;
      box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.1);
      border-radius: 15px;
      background-color: #FFFFF9;
      width: 260px;
      height: 190px;
      padding: 20px 20px 15px 20px;
      margin: auto;
      text-align: center;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-size: 15px;
      color: #575344;
      align-items: center;
      justify-content: center;
      display: grid;
      margin-bottom: 30px;
      cursor: pointer;
      transition: box-shadow 500ms;
      transition: opacity 500ms;
      
   }
}

@media (min-width:1100px) {
  .box {
      border: 1px solid #575344;
      box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.1);
      border-radius: 15px;
      background-color: #FFFFF9;
      width: 260px;
      height: 170px;
      padding: 20px 20px 15px 20px;
      margin: auto;
      text-align: center;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-size: 12px;
      color: #575344;
      align-items: center;
      justify-content: center;
      display: grid;
      margin-bottom: 30px;
      cursor: pointer;
      transition: box-shadow 500ms;
      transition: opacity 500ms;
      
   }
}
  
.box:hover {
  box-shadow: 15px 15px 15px 15px rgba(0, 0, 0, 0.1);
  opacity: 0.8;
  background-color: #f2b132;


}


img {
  width: 220px;
  height: 120px;
  border: 0.5px solid rgba(33, 31, 31, 0.694);
  border-radius: 5px;
  margin: auto;
  
}



@media (max-width:1100px) {
  .grid-container {
      grid-template-columns: auto auto auto;
      display: grid;
      margin: auto;
      padding: 20px;
  }
}


@media (min-width:1100px) {
  .grid-container {
      grid-template-columns: auto auto auto auto;
      display: grid;
      margin: auto;
      padding: 20px;


  }
}


@media(max-width:1100px) {
  #popupDialog {


      border: 2px solid #575344;
      box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.1);
      border-radius: 15px;
      background-color: #FFFFF9;
      width: 700px;
      height: 600px;
      text-align: center;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-size: 18px;
      color: #575344;
      align-items: center;
      justify-content: center;
      padding: 20px;
            
     
  }


}


@media(min-width:1100px) {
  #popupDialog {


      border: 2px solid #575344;
      box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.1);
      border-radius: 15px;
      background-color: #FFFFF9;
      width: 600px;
      height: 600px;
      text-align:center;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-size: 18px;
      color: #575344;
      align-items: center;
      justify-content: center;
      padding: 20px;
                 
     
  }


}


.closeButton {
  border: 1px solid #e5e2d9;
  margin-top: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: white;
  font-size: 20px;
  text-align: center;
  background-color: #d63f31;
  border-radius: 5px;
  padding: 5px 5px;
  display: inline-block;
  cursor: pointer;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
  height: 35px;
 
} 
.closeButton:hover {
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0.8;
  background-color: #f50000;
}


.modal-open {
  opacity: 0.5;
  /* Puedes ajustar el último valor (0.5) para cambiar la opacidad */
  /* 0 es completamente transparente, 1 es completamente opaco */
}


.search-container {
  display: inline-flex;
  position: relative;
  float: left;
  padding: 0px;
  border-radius: 8px;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1);
  margin: 0px;
  width: 300px;
  height: 30px;
}


.input-style {
  width: 300px;
  height: 30px; 
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 2%;
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 0;
  background-color: #FFFFF9;
}




.search-icon {
  position: absolute;
  right: 10px;
  top: 65%;
  transform: translateY(-50%);
  width: 25px;
  height: 25px;
  cursor: pointer;
  border: none;
}


.select-container {
  display: inline-flex;
  position: relative;
  float: right;
  padding: 10px 20px;
  border-radius: 8px;
  background-color: #575344;
  border: 1px solid #35332d;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1);
  margin: -20px;
  
}


label[for="continents"] {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  color:#FFFFF9;
  margin-right: 10px;
  background-image: url("data-images/icono-filtro.png");
  background-size: 18px 18px;
  background-repeat: no-repeat;
  background-position: 102% center;
  padding-right: 20px; 
 
}



#continentSelect {
  font-family: Arial, sans-serif;
  color: #FFFFF9;
  background-color: #575344;
  font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
  border: none;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  appearance:none;
}

#continentSelect:hover {
  box-shadow: 15px 15px 15px 15px rgba(0, 0, 0, 0.1);
   opacity: 0.8;
 }
 
 @media (min-width:1100px) {
  option {
    font-size: 20px;
    color: #FFFFF9;
    background-color: #575344;
    font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    cursor: pointer;
   
    }   
  }
  
  
  @media (max-width:1100px) {
    option {
      font-size: 10px;
      color: #FFFFF9;
      background-color: #575344;
      font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
  
     
      }   
    }
option:hover {
  background-color: #f2b132;
  cursor: pointer;
}


.sort-container {
  display: inline-flex;
  position: relative;
  float: right;
  padding: 10px 20px;
  border-radius: 8px;
  background-color: #575344;
  border: 1px solid #35332d;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1);
  margin: -20px 60px;
  
}


#sortSelect {
  font-family: Arial, sans-serif;
  color: #FFFFF9;
  background-color: #575344;
  font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
  border: none;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  appearance:none;

}
#sortSelect:hover {
  box-shadow: 15px 15px 15px 15px rgba(0, 0, 0, 0.1);
   opacity: 0.8;
 }




label[for="sort-label"] {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  color:#FFFFF9;
  margin-right: 10px;
  background-image: url("data-images/sort-icono.png");
  background-size: 18px 18px;
  background-repeat: no-repeat;
  background-position: 102% center;
  padding-right: 20px; 
 
}
/* Botón Subir */
.toTop {
  border: none;
  display: flex;
  cursor: pointer;
  transition: opacity 0.3s, transform 0.3s;
  /* posición */
  position: fixed; right: 1rem; bottom: 1rem; z-index: 9999;
}
.toTop:not(.is-visible) {
  pointer-events: none;
  opacity: 0;
  transform: translateY(-2rem);
}
.toTop svg {
  stroke-width: 3px;
  stroke: currentColor;
  fill: none;
  width: 24px;
}
/* Personalizar */
.toTop {
  background-color: #575344;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  border-radius: 0.5rem;
  padding: 0.75rem;
  color: #F8E9CA;
}
#contenedor > section {
  width: 50%;
}
#contenedor {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  text-align: center;
}

body::-webkit-scrollbar {
  width: 12px;              
}

body::-webkit-scrollbar-track {
  background:  #F8E9CA;       
}

body::-webkit-scrollbar-thumb {
  background-color: #575344;    
  border-radius: 20px;       
  border: 3px solid  #F8E9CA; 
}

#popupDialog::-webkit-scrollbar {
  width: 12px;              
}

#popupDialog::-webkit-scrollbar-track {
  background:  #FFFFF9;       
}

#popupDialog::-webkit-scrollbar-thumb {
  background-color: #F8E9CA;    
  border-radius: 20px;       
  border: 3px solid  #FFFFF9; 
}



