.style-section {
    margin-top: 0;

}

body {
    margin: 0;
    background-color: #FFFFF9;
    
}

header {
    background-image: url("data-images/header-countries.png");
    text-align: center;
    height: 10%;
    padding: 3% 18% 3% 18%;
    margin-top: 0;
    border: 1px solid #ccc;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1);
    

}

h1 {
    margin: auto;
    font-size: 68px;
    border-radius: 15px;
    font-family: 'Times New Roman', Times, serif;
    color: #f2b132;
    text-shadow: 2px 2px 3px rgb(8, 8, 8);
    font-weight: bold;

}

.grid-container {
    grid-template-columns: auto auto auto;
    display: grid;
    margin: auto;
    padding: 20px;
    
    
}

.box {
    border: 2px solid #575344;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    background-color: #FFFFF9;
    width: 260px;
    height: 170px;
    padding: 20px 20px 15px 20px;
    margin: auto;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 11px;
    color: #575344;
    align-items: center;
    justify-content: center;
    display: grid;
    margin-bottom: 30px;
    
 }

 img {
    width: 220px;
    height: 120px;
    
 }




